# Kopieer dit bestand naar .env en vul de waarden in

# Wachtwoord voor de web-interface
APP_WACHTWOORD=yappi2024

# API-sleutel voor de ASML backtest endpoints (extern toegankelijk via ?key=...)
# Gebruik deze waarde ook in Railway als environment variable
ASML_API_KEY=c95cfc43ea148affe5312d8bfe3507f0803856a9c6422bf4b525fa68f7b294d8

# Anthropic API key
ANTHROPIC_API_KEY=
